<%- include('layout/header') %>

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-12">
            <h1>About Us</h1>
            <p>Welcome to our application! Here, we manage user information effectively and securely. Our application allows users to add, edit, and delete user information, ensuring up-to-date records. We strive to provide the best service to manage your data with ease and efficiency.</p>
        </div>
    </div>
</div>

<%- include('layout/footer') %>
